/**
 * @file        styles.css
 *
 * @brief       CSS Stylesheet
 *
 * @author      João Borrego
 *              Daniel Sousa
 *              Nuno Ferreira
 */

/* Wrapper div with header, content, footer structure */
.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* Header div */
#top {
    max-height: 100px;
    padding-top: 20px;
}

/* Main content middle div */
#middle {
    flex: 1;
    padding-top: 20px;
}

/* Footer div */
#bottom {
    height: 30px;
    padding-bottom: 20px;
}

/* Forms */
form {
    margin:0;
    text-align: left;
}

.form-group.required .col-form-label:after {
  content:"*";
  color:red;
}

/* Buttons */
.btn-primary {
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
}

/* Tables */
table th {
    text-align: center;
}

.table {
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 90% !important;
}